In [34]:
from RouteAlgorithm import *
import pandas as pd
import numpy as np

In [35]:
df_santa = pd.read_csv('santas_logistics.csv')
df_santa[:10]

,Child_ID,Name,Age,Location,Latitude,Longitude,Country,Gift_Preference,Listened_To_Parents,School_Grades,Good_Deed,Bad_Deed
0,1,Roman,12,Ban Pa Sak,16.8477,100.2563,Thailand,Door Basketball Hoop,0.721255,67.803632,Volunteered at thrift store,Damaged school awards
1,2,Yui,5,The Nation / La Nation,45.3500,-75.0333,Canada,Rhythm Tambourine,0.669235,NaN,Picked up trash at playground,NaN
2,3,Kento,9,Mealhada,40.3833,-8.4500,Portugal,School House Pack,0.863656,65.154011,Organized school outdoor equipment,Stole school materials
3,4,Irina,5,Lower Pottsgrove,40.2537,-75.5975,United States,Wireless Headphones,0.701440,NaN,Helped set up band challenge,NaN
4,5,Corina,10,Bayugan,8.7100,125.7500,Philippines,Rocket Building Set,0.799672,61.740031,Helped parent with dishes,Stole school materials
5,6,Calliope,11,Castel Volturno,41.0500,13.9167,Italy,Beauty Salon Set,0.868717,72.521423,Made birthday cards for classmates,Damaged school awards
6,7,Anamaria,7,Zdzieszowice,50.4192,18.1236,Poland,Music Mixing Set,0.776364,NaN,Helped organize writing center,Cheated in tournament
7,8,Ileana,9,Tortolì,39.9333,9.6500,Italy,Cooking Master Kit,0.513277,84.732606,Made cards for librarians,Lied about occurrences
8,9,Feng,5,Svobodnyy,51.4000,128.1000,Russia,Performance Microphone,0.523516,NaN,Picked up trash at bus stop,NaN
9,10,Hui,12,Paraibuna,-23.3861,-45.6622,Brazil,Diamond Dig Set,0.614100,91.233968,Helped parent with organizing toys,Stole school supplies

In [36]:
route_finder = RouteAlgorithm(df_santa)

# rename the columns Latitude and Longitude to X Coordinate and Y Coordinate
df_santa = df_santa.rename(columns={'Latitude': 'X Coordinate', 'Longitude': 'Y Coordinate'})

In [37]:
df_santa[:10]

,Child_ID,Name,Age,Location,X Coordinate,Y Coordinate,Country,Gift_Preference,Listened_To_Parents,School_Grades,Good_Deed,Bad_Deed
0,1,Roman,12,Ban Pa Sak,16.8477,100.2563,Thailand,Door Basketball Hoop,0.721255,67.803632,Volunteered at thrift store,Damaged school awards
1,2,Yui,5,The Nation / La Nation,45.3500,-75.0333,Canada,Rhythm Tambourine,0.669235,NaN,Picked up trash at playground,NaN
2,3,Kento,9,Mealhada,40.3833,-8.4500,Portugal,School House Pack,0.863656,65.154011,Organized school outdoor equipment,Stole school materials
3,4,Irina,5,Lower Pottsgrove,40.2537,-75.5975,United States,Wireless Headphones,0.701440,NaN,Helped set up band challenge,NaN
4,5,Corina,10,Bayugan,8.7100,125.7500,Philippines,Rocket Building Set,0.799672,61.740031,Helped parent with dishes,Stole school materials
5,6,Calliope,11,Castel Volturno,41.0500,13.9167,Italy,Beauty Salon Set,0.868717,72.521423,Made birthday cards for classmates,Damaged school awards
6,7,Anamaria,7,Zdzieszowice,50.4192,18.1236,Poland,Music Mixing Set,0.776364,NaN,Helped organize writing center,Cheated in tournament
7,8,Ileana,9,Tortolì,39.9333,9.6500,Italy,Cooking Master Kit,0.513277,84.732606,Made cards for librarians,Lied about occurrences
8,9,Feng,5,Svobodnyy,51.4000,128.1000,Russia,Performance Microphone,0.523516,NaN,Picked up trash at bus stop,NaN
9,10,Hui,12,Paraibuna,-23.3861,-45.6622,Brazil,Diamond Dig Set,0.614100,91.233968,Helped parent with organizing toys,Stole school supplies

In [38]:
df_santa["Country"].value_counts()[:20]

Country
India             731
United States     553
Brazil            289
Germany           195
Philippines       180
China             157
United Kingdom    140
Italy             140
Japan             137
Russia            124
France            114
Mexico            113
Colombia           96
Madagascar         87
Turkey             84
Morocco            76
Spain              63
Algeria            59
Argentina          58
Ukraine            56
Name: count, dtype: int64

In [39]:
df_germany = df_santa[df_santa["Country"] == "Germany"].copy()
df_germany

,Child_ID,Name,Age,Location,X Coordinate,Y Coordinate,Country,Gift_Preference,Listened_To_Parents,School_Grades,Good_Deed,Bad_Deed
24,25,Ekaterina,7,Zschopau,50.7500,13.0667,Germany,Meditation Set,0.743771,NaN,Made cards for school nurse,Left mess in common area
26,27,Sofia,8,Mühlhausen,49.2475,8.7239,Germany,Hot Dog Stand,0.515255,89.390515,Helped organize costume archive,Stole school supplies
49,50,Gustav,7,Vohburg an der Donau,48.7667,11.6167,Germany,Theater Production Kit,0.736012,NaN,Helped parent with organizing photos,Stole classroom materials
71,72,Marina,6,Westerland,54.9100,8.3075,Germany,Language Learning Set,0.790364,NaN,Picked up trash at playground,Lied about activities
123,124,Ilya,11,Kappeln,54.6614,9.9311,Germany,Dinosaur Collection,0.726192,96.815391,Made cards for social studies teachers,Cheated in tryouts
...,...,...,...,...,...,...,...,...,...,...,...,...
4781,4782,Dev,11,Mayen,50.3333,7.2167,Germany,Crystal Growing Lab,0.718077,76.012729,Made cards for state representatives,Vandalized school artwork
4789,4790,Ebba,10,Ochsenfurt,49.6500,10.0667,Germany,Action Camera,0.609712,71.517451,Organized school spirit accessories,Stole school supplies
4899,4900,Linnea,9,Rottenburg an der Laaber,48.7019,12.0272,Germany,Prehistoric Study Kit,0.704990,80.247597,Picked up trash at fitness trail,Talked back to teacher
4952,4953,Sofiya,12,Rhaude,53.1667,7.5500,Germany,Magician Starter Kit,0.670877,85.949506,Helped set up health fair,Stole school materials
4994,4995,Nicolae,8,Dülken,51.2522,6.3353,Germany,Chameleon Study Pack,0.860698,67.204635,Shared family recipes,Stole school resources

In [40]:
# create a tuple of all the coordinates from the dataframe like ((x1, y1), (x2, y2), ...)
coordinates = list(zip(df_germany['X Coordinate'], df_germany['Y Coordinate']))
print(coordinates[:5])

[(50.75, 13.0667), (49.2475, 8.7239), (48.7667, 11.6167), (54.91, 8.3075), (54.6614, 9.9311)]

In [41]:
import numpy as np

def haversine_distance_vectorized(coords1, coords2):
    """
    Calculate the straight-line distances (in meters) between multiple geographic points using the Haversine formula.
    
    Args:
        coords1: Array of shape (n, 2) where each row is (lat, lon) in decimal degrees.
        coords2: Array of shape (n, 2) where each row is (lat, lon) in decimal degrees.

    Returns:
        Distances in meters as a 1D NumPy array.
    """
    R = 6378137  # Radius of Earth in meters

    # Convert latitude and longitude to radians
    lat1, lon1 = np.radians(coords1[:, 0]), np.radians(coords1[:, 1])
    lat2, lon2 = np.radians(coords2[:, 0]), np.radians(coords2[:, 1])

    # Compute differences
    dlat = lat2 - lat1
    dlon = lon2 - lon1

    # Haversine formula
    a = np.sin(dlat / 2)**2 + np.cos(lat1) * np.cos(lat2) * np.sin(dlon / 2)**2
    c = 2 * np.arctan2(np.sqrt(a), np.sqrt(1 - a))

    # Distance in meters
    distances = R * c
    return distances


distances = np.zeros((len(coordinates), len(coordinates)))
# calculate the distance between all the coordinates
for i in range(len(coordinates)):
    distances[i] = haversine_distance_vectorized(np.array([coordinates[i]]), np.array(coordinates))

print(distances)

[[     0.         352828.94972447 244153.83159322 ... 239944.84168037
  464109.21009399 474692.41624129]
 [352828.94972447      0.         217897.09842946 ... 248871.02534212
  443881.82308475 280520.86740235]
 [244153.83159322 217897.09842946      0.         ...  30990.48057585
  566523.22448999 468120.28843704]
 ...
 [239944.84168037 248871.02534212  30990.48057585 ...      0.
  587688.23515556 496398.62771749]
 [464109.21009399 443881.82308475 566523.22448999 ... 587688.23515556
       0.         228653.33350379]
 [474692.41624129 280520.86740235 468120.28843704 ... 496398.62771749
  228653.33350379      0.        ]]

In [42]:
small_distances = distances.copy()
small_distances.shape

(195, 195)

In [43]:
route_finder = RouteAlgorithm(df_route_raw=df_santa, weighted_matrix=small_distances)
ordered_route, best_distance = route_finder.find_route_SA(view_distance=True)

In [44]:
print(ordered_route )

[ 31 174  54 134 150 140  18 183 116  65  94 164  82 102 136  58 122  49
   7  80 157 115 148  59  17  15  86 124  42 130  98 172 113  69  91 147
  85   1  45 109  32 167  41  83  76 155 126  96  88 110 165   8  20 170
  67 105 142 168 182  62  26  40 119 173 133 187  35  79 160 123  93  43
  24  37   2 192  52  57 103  56  12 139 162 108 189 114 191  50 101 185
  87  81  77  16   0 175 179 169 111 166  99  71 144  60 153  30 128  73
 184 178  89 158   6  70 171 120 176 117  95  22   5 127  84  10  38  21
  63  34  92  72  51 188 177  14 163  68 129  23  74  19 161  55  47 135
 152   4 145   3 118  90 138  97  11  61 143  64 193 100  33 146 141 125
 154  53 131  39  66  25 194  29 149 181 156  44  27  46  28 107 190  78
   9 104 137 106  36 121 180 151 112 132 159 186  75  13  48]

In [45]:
print(best_distance)

6778757.069158861

In [46]:
import numpy as np
from geopy.geocoders import Nominatim
import requests
import json
import folium
import dotenv
import os

In [74]:
import folium
import numpy as np

class RouteVisualizer:
    def __init__(self, df=None, ordered_list=None):
        self.df = df
        self.ordered_list = ordered_list

    def plot_route(self):
        """
        Plot the route on a map using Folium.
        """
        # Get the coordinates in the correct order (latitude, longitude)
        coords = self.df[['X Coordinate', 'Y Coordinate']].values  # Switch to (latitude, longitude)
        coords = coords[self.ordered_list]

        # Get the center of the map (latitude, longitude)
        center = np.mean(coords, axis=0)

        # Create the map
        m = folium.Map(location=center, zoom_start=10)  # Adjust zoom_start for Spain

        # Add markers for each location
        for i, coord in enumerate(coords):
            popup_content=f"Point: {i} \nName: {self.df.iloc[i]['Name']} \nConclusion: Good Child",
            folium.Marker(
                location=coord,
                popup=folium.Popup(f"Point: {i} <br> Name: {self.df.iloc[i]['Name']} <br> Conclusion: Good Child", max_width=150, font_size=20),   
                icon=folium.Icon(color="blue" if i not in (0, len(coords) - 1) else "green" if i == 0 else "red", icon="gift"),
            ).add_to(m)

        # Add lines connecting the points
        folium.PolyLine(coords, color="red", weight=2.5, opacity=1).add_to(m)

        return m

In [73]:
route_visualizer = RouteVisualizer(df_germany, ordered_route)
m = route_visualizer.plot_route()
m.save('route_germany.html')